<launch>
    <arg name="count_rate" default="10"/>
    <node pkg = "beginner_tutorials" type = "talker" name = "publisher_node" output = "screen"/>
    <param name = "count_rate" value = "$(arg count_rate)"/>
    <node pkg = "beginner_tutorials" type = "listener" name = "subscriber_node" output = "screen"/>
    <test pkg = "beginner_tutorials" test-name = "ros_test" type = "ros_test" />
</launch>

